<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>win_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,2},{164,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,224}}</string>
                <key>sourceSize</key>
                <string>{164,224}</string>
            </dict>
            <key>win_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,2},{90,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,231}}</string>
                <key>sourceSize</key>
                <string>{90,231}</string>
            </dict>
            <key>win_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,461},{145,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,225}}</string>
                <key>sourceSize</key>
                <string>{145,225}</string>
            </dict>
            <key>win_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,2},{117,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,239}}</string>
                <key>sourceSize</key>
                <string>{117,239}</string>
            </dict>
            <key>win_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{169,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,240}}</string>
                <key>sourceSize</key>
                <string>{169,240}</string>
            </dict>
            <key>win_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{143,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,242}}</string>
                <key>sourceSize</key>
                <string>{143,242}</string>
            </dict>
            <key>win_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,228},{147,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,231}}</string>
                <key>sourceSize</key>
                <string>{147,231}</string>
            </dict>
            <key>win_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{139,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,236}}</string>
                <key>sourceSize</key>
                <string>{139,236}</string>
            </dict>
            <key>win_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,461},{144,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,228}}</string>
                <key>sourceSize</key>
                <string>{144,228}</string>
            </dict>
            <key>win_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,243},{154,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,236}}</string>
                <key>sourceSize</key>
                <string>{154,236}</string>
            </dict>
            <key>win_comma.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{128,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,114}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>win_fullstop.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,488},{128,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,98}}</string>
                <key>sourceSize</key>
                <string>{128,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bigWinNum.png</string>
            <key>size</key>
            <string>{691,691}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:800074eb451293104c90736d49035c0d$</string>
            <key>textureFileName</key>
            <string>bigWinNum.png</string>
        </dict>
    </dict>
</plist>
