<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>big_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{116,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{116,141}}</string>
				<key>sourceSize</key>
				<string>{116,141}</string>
			</dict>
			<key>big_8_.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,585},{102,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,585},{102,141}}</string>
				<key>sourceSize</key>
				<string>{102,141}</string>
			</dict>
			<key>big_decimal.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,1382},{48,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{55,1382},{48,55}}</string>
				<key>sourceSize</key>
				<string>{48,55}</string>
			</dict>
			<key>big_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1304},{52,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1304},{52,135}}</string>
				<key>sourceSize</key>
				<string>{52,135}</string>
			</dict>
			<key>big_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1161},{90,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1161},{90,141}}</string>
				<key>sourceSize</key>
				<string>{90,141}</string>
			</dict>
			<key>big_9_.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,292},{108,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,292},{108,145}}</string>
				<key>sourceSize</key>
				<string>{108,145}</string>
			</dict>
			<key>big_comma.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,1304},{49,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{55,1304},{49,76}}</string>
				<key>sourceSize</key>
				<string>{49,76}</string>
			</dict>
			<key>big_5_.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1014},{90,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1014},{90,145}}</string>
				<key>sourceSize</key>
				<string>{90,145}</string>
			</dict>
			<key>big_6_.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,439},{104,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,439},{104,144}}</string>
				<key>sourceSize</key>
				<string>{104,144}</string>
			</dict>
			<key>big_7_.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,728},{95,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,728},{95,144}}</string>
				<key>sourceSize</key>
				<string>{95,144}</string>
			</dict>
			<key>big_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,144},{115,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,144},{115,146}}</string>
				<key>sourceSize</key>
				<string>{115,146}</string>
			</dict>
			<key>big_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,874},{92,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,874},{92,138}}</string>
				<key>sourceSize</key>
				<string>{92,138}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>dajiangshuzi.png</string>
			<key>size</key>
			<string>{118,1440}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>dajiangshuzi.png</string>
		</dict>
	</dict>
</plist>
