<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gold_comma.png</key>
			<dict>
				<key>frame</key>
				<string>{{1395,228},{23,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1395,228},{23,31}}</string>
				<key>sourceSize</key>
				<string>{23,31}</string>
			</dict>
			<key>gold_decimal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1370,228},{23,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1370,228},{23,24}}</string>
				<key>sourceSize</key>
				<string>{23,24}</string>
			</dict>
			<key>red_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,174},{81,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{890,174},{81,112}}</string>
				<key>sourceSize</key>
				<string>{81,112}</string>
			</dict>
			<key>red_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,177},{78,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{120,177},{78,114}}</string>
				<key>sourceSize</key>
				<string>{78,114}</string>
			</dict>
			<key>red_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,175},{74,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{661,175},{74,112}}</string>
				<key>sourceSize</key>
				<string>{74,112}</string>
			</dict>
			<key>red_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,176},{76,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{351,176},{76,116}}</string>
				<key>sourceSize</key>
				<string>{76,116}</string>
			</dict>
			<key>red_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,180},{75,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,180},{75,117}}</string>
				<key>sourceSize</key>
				<string>{75,117}</string>
			</dict>
			<key>red_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,177},{78,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{236,177},{78,113}}</string>
				<key>sourceSize</key>
				<string>{78,113}</string>
			</dict>
			<key>red_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,175},{73,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{775,175},{73,113}}</string>
				<key>sourceSize</key>
				<string>{73,113}</string>
			</dict>
			<key>red_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,173},{71,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1004,173},{71,114}}</string>
				<key>sourceSize</key>
				<string>{71,114}</string>
			</dict>
			<key>red_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1230,1},{54,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1230,1},{54,117}}</string>
				<key>sourceSize</key>
				<string>{54,117}</string>
			</dict>
			<key>red_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,176},{75,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{469,176},{75,115}}</string>
				<key>sourceSize</key>
				<string>{75,115}</string>
			</dict>
			<key>gold_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1447,1},{42,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1447,1},{42,59}}</string>
				<key>sourceSize</key>
				<string>{42,59}</string>
			</dict>
			<key>gold_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1492,162},{41,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1492,162},{41,57}}</string>
				<key>sourceSize</key>
				<string>{41,57}</string>
			</dict>
			<key>gold_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1413,1},{32,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1413,1},{32,60}}</string>
				<key>sourceSize</key>
				<string>{32,60}</string>
			</dict>
			<key>gold_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1534,44},{42,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1534,44},{42,57}}</string>
				<key>sourceSize</key>
				<string>{42,57}</string>
			</dict>
			<key>gold_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1295,120},{45,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1295,120},{45,57}}</string>
				<key>sourceSize</key>
				<string>{45,57}</string>
			</dict>
			<key>gold_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1391,65},{43,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1391,65},{43,59}}</string>
				<key>sourceSize</key>
				<string>{43,59}</string>
			</dict>
			<key>gold_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1491,1},{41,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1491,1},{41,58}}</string>
				<key>sourceSize</key>
				<string>{41,58}</string>
			</dict>
			<key>gold_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1452,62},{43,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1452,62},{43,58}}</string>
				<key>sourceSize</key>
				<string>{43,58}</string>
			</dict>
			<key>gold_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1534,1},{41,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1534,1},{41,58}}</string>
				<key>sourceSize</key>
				<string>{41,58}</string>
			</dict>
			<key>gold_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1449,165},{41,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1449,165},{41,57}}</string>
				<key>sourceSize</key>
				<string>{41,57}</string>
			</dict>
			<key>grey_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1314,231},{24,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1314,231},{24,54}}</string>
				<key>sourceSize</key>
				<string>{24,54}</string>
			</dict>
			<key>grey_x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1267,233},{22,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1267,233},{22,26}}</string>
				<key>sourceSize</key>
				<string>{22,26}</string>
			</dict>
			<key>grey_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1449,224},{31,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1449,224},{31,53}}</string>
				<key>sourceSize</key>
				<string>{31,53}</string>
			</dict>
			<key>grey_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1528,126},{34,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1528,126},{34,53}}</string>
				<key>sourceSize</key>
				<string>{34,53}</string>
			</dict>
			<key>grey_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1357,66},{32,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1357,66},{32,51}}</string>
				<key>sourceSize</key>
				<string>{32,51}</string>
			</dict>
			<key>grey_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1286,66},{33,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1286,66},{33,52}}</string>
				<key>sourceSize</key>
				<string>{33,52}</string>
			</dict>
			<key>grey_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1417,110},{36,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1417,110},{36,53}}</string>
				<key>sourceSize</key>
				<string>{36,53}</string>
			</dict>
			<key>grey_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1321,66},{34,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1321,66},{34,51}}</string>
				<key>sourceSize</key>
				<string>{34,51}</string>
			</dict>
			<key>grey_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1455,107},{34,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1455,107},{34,54}}</string>
				<key>sourceSize</key>
				<string>{34,54}</string>
			</dict>
			<key>grey_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1504,221},{34,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1504,221},{34,53}}</string>
				<key>sourceSize</key>
				<string>{34,53}</string>
			</dict>
			<key>grey_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1491,107},{35,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1491,107},{35,53}}</string>
				<key>sourceSize</key>
				<string>{35,53}</string>
			</dict>
			<key>yellow_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1217,172},{48,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1217,172},{48,67}}</string>
				<key>sourceSize</key>
				<string>{48,67}</string>
			</dict>
			<key>yellow_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1314,167},{43,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1314,167},{43,62}}</string>
				<key>sourceSize</key>
				<string>{43,62}</string>
			</dict>
			<key>yellow_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1368,1},{43,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1368,1},{43,62}}</string>
				<key>sourceSize</key>
				<string>{43,62}</string>
			</dict>
			<key>big_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1097,1},{131,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1097,1},{131,169}}</string>
				<key>sourceSize</key>
				<string>{131,169}</string>
			</dict>
			<key>big_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,1},{123,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{98,1},{123,174}}</string>
				<key>sourceSize</key>
				<string>{123,174}</string>
			</dict>
			<key>big_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,1},{119,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{223,1},{119,174}}</string>
				<key>sourceSize</key>
				<string>{119,174}</string>
			</dict>
			<key>big_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,1},{122,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{850,1},{122,171}}</string>
				<key>sourceSize</key>
				<string>{122,171}</string>
			</dict>
			<key>big_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,1},{127,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{475,1},{127,173}}</string>
				<key>sourceSize</key>
				<string>{127,173}</string>
			</dict>
			<key>big_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,1},{129,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{344,1},{129,173}}</string>
				<key>sourceSize</key>
				<string>{129,173}</string>
			</dict>
			<key>big_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,1},{121,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{974,1},{121,170}}</string>
				<key>sourceSize</key>
				<string>{121,170}</string>
			</dict>
			<key>big_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{95,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{95,177}}</string>
				<key>sourceSize</key>
				<string>{95,177}</string>
			</dict>
			<key>big_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,1},{121,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{604,1},{121,172}}</string>
				<key>sourceSize</key>
				<string>{121,172}</string>
			</dict>
			<key>big_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{727,1},{121,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{727,1},{121,172}}</string>
				<key>sourceSize</key>
				<string>{121,172}</string>
			</dict>
			<key>big_decimal.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,176},{73,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{586,176},{73,75}}</string>
				<key>sourceSize</key>
				<string>{73,75}</string>
			</dict>
			<key>big_comma.png</key>
			<dict>
				<key>frame</key>
				<string>{{1120,172},{71,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1120,172},{71,95}}</string>
				<key>sourceSize</key>
				<string>{71,95}</string>
			</dict>
			<key>red_decimal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1559,88},{36,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1559,88},{36,42}}</string>
				<key>sourceSize</key>
				<string>{36,42}</string>
			</dict>
			<key>red_comma.png</key>
			<dict>
				<key>frame</key>
				<string>{{1535,162},{35,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1535,162},{35,57}}</string>
				<key>sourceSize</key>
				<string>{35,57}</string>
			</dict>
			<key>yellow_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1267,168},{45,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1267,168},{45,63}}</string>
				<key>sourceSize</key>
				<string>{45,63}</string>
			</dict>
			<key>yellow_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1332,1},{34,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1332,1},{34,63}}</string>
				<key>sourceSize</key>
				<string>{34,63}</string>
			</dict>
			<key>yellow_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1230,120},{46,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1230,120},{46,63}}</string>
				<key>sourceSize</key>
				<string>{46,63}</string>
			</dict>
			<key>yellow_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1354,119},{44,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1354,119},{44,61}}</string>
				<key>sourceSize</key>
				<string>{44,61}</string>
			</dict>
			<key>yellow_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1404,165},{43,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1404,165},{43,60}}</string>
				<key>sourceSize</key>
				<string>{43,60}</string>
			</dict>
			<key>yellow_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1286,1},{44,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1286,1},{44,63}}</string>
				<key>sourceSize</key>
				<string>{44,63}</string>
			</dict>
			<key>yellow_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1359,165},{43,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1359,165},{43,61}}</string>
				<key>sourceSize</key>
				<string>{43,61}</string>
			</dict>
			<key>yellow_x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1559,221},{32,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1559,221},{32,35}}</string>
				<key>sourceSize</key>
				<string>{32,35}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>numeric_font.png</string>
			<key>size</key>
			<string>{1602,256}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>numeric_font.png</string>
		</dict>
	</dict>
</plist>
