<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>beige_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{46,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{46,61}}</string>
				<key>sourceSize</key>
				<string>{46,61}</string>
			</dict>
			<key>beige_x.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,1},{36,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{403,1},{36,43}}</string>
				<key>sourceSize</key>
				<string>{36,43}</string>
			</dict>
			<key>beige_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,1},{38,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{137,1},{38,61}}</string>
				<key>sourceSize</key>
				<string>{38,61}</string>
			</dict>
			<key>beige_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,1},{36,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{177,1},{36,61}}</string>
				<key>sourceSize</key>
				<string>{36,61}</string>
			</dict>
			<key>beige_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,1},{41,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{94,1},{41,61}}</string>
				<key>sourceSize</key>
				<string>{41,61}</string>
			</dict>
			<key>beige_decimal.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,36},{17,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{441,36},{17,25}}</string>
				<key>sourceSize</key>
				<string>{17,25}</string>
			</dict>
			<key>beige_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{49,1},{43,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{49,1},{43,61}}</string>
				<key>sourceSize</key>
				<string>{43,61}</string>
			</dict>
			<key>beige_comma.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,1},{18,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{441,1},{18,33}}</string>
				<key>sourceSize</key>
				<string>{18,33}</string>
			</dict>
			<key>beige_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,1},{20,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{381,1},{20,57}}</string>
				<key>sourceSize</key>
				<string>{20,57}</string>
			</dict>
			<key>beige_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,1},{46,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{215,1},{46,59}}</string>
				<key>sourceSize</key>
				<string>{46,59}</string>
			</dict>
			<key>beige_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,1},{36,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{343,1},{36,58}}</string>
				<key>sourceSize</key>
				<string>{36,58}</string>
			</dict>
			<key>beige_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,1},{41,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{263,1},{41,59}}</string>
				<key>sourceSize</key>
				<string>{41,59}</string>
			</dict>
			<key>beige_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,1},{35,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{306,1},{35,59}}</string>
				<key>sourceSize</key>
				<string>{35,59}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>shuzitu02.png</string>
			<key>size</key>
			<string>{460,63}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>shuzitu02.png</string>
		</dict>
	</dict>
</plist>
