<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>info_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,423},{46,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,423},{46,67}}</string>
				<key>sourceSize</key>
				<string>{46,67}</string>
			</dict>
			<key>info_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{51,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{51,70}}</string>
				<key>sourceSize</key>
				<string>{51,70}</string>
			</dict>
			<key>info_comma.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,284},{21,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{31,284},{21,26}}</string>
				<key>sourceSize</key>
				<string>{21,26}</string>
			</dict>
			<key>info_percent.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,696},{48,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,696},{48,58}}</string>
				<key>sourceSize</key>
				<string>{48,58}</string>
			</dict>
			<key>info_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,354},{50,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,354},{50,67}}</string>
				<key>sourceSize</key>
				<string>{50,67}</string>
			</dict>
			<key>info_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,214},{43,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,214},{43,68}}</string>
				<key>sourceSize</key>
				<string>{43,68}</string>
			</dict>
			<key>info_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,73},{45,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,73},{45,69}}</string>
				<key>sourceSize</key>
				<string>{45,69}</string>
			</dict>
			<key>info_decimal.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,312},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{31,312},{18,18}}</string>
				<key>sourceSize</key>
				<string>{18,18}</string>
			</dict>
			<key>info_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,561},{40,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,561},{40,67}}</string>
				<key>sourceSize</key>
				<string>{40,67}</string>
			</dict>
			<key>info_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,144},{47,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,144},{47,68}}</string>
				<key>sourceSize</key>
				<string>{47,68}</string>
			</dict>
			<key>info_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,630},{45,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,630},{45,64}}</string>
				<key>sourceSize</key>
				<string>{45,64}</string>
			</dict>
			<key>info_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,492},{43,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,492},{43,67}}</string>
				<key>sourceSize</key>
				<string>{43,67}</string>
			</dict>
			<key>info_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,284},{28,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,284},{28,68}}</string>
				<key>sourceSize</key>
				<string>{28,68}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>shuzifuhaothree.png</string>
			<key>size</key>
			<string>{53,755}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>shuzifuhaothree.png</string>
		</dict>
	</dict>
</plist>
