<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>mul_plus.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,273},{86,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{107,273},{86,98}}</string>
				<key>sourceSize</key>
				<string>{86,98}</string>
			</dict>
			<key>mul_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,137},{90,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{380,137},{90,134}}</string>
				<key>sourceSize</key>
				<string>{90,134}</string>
			</dict>
			<key>mul_percent.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,271},{106,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{252,271},{106,116}}</string>
				<key>sourceSize</key>
				<string>{106,116}</string>
			</dict>
			<key>mul_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{97,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{97,134}}</string>
				<key>sourceSize</key>
				<string>{97,134}</string>
			</dict>
			<key>mul_comma.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,273},{46,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{360,273},{46,71}}</string>
				<key>sourceSize</key>
				<string>{46,71}</string>
			</dict>
			<key>mul_exclamation.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,270},{55,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{195,270},{55,113}}</string>
				<key>sourceSize</key>
				<string>{55,113}</string>
			</dict>
			<key>mul_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,137},{96,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,137},{96,134}}</string>
				<key>sourceSize</key>
				<string>{96,134}</string>
			</dict>
			<key>mul_decimal.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,273},{43,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{408,273},{43,44}}</string>
				<key>sourceSize</key>
				<string>{43,44}</string>
			</dict>
			<key>mul_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,137},{90,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{99,137},{90,134}}</string>
				<key>sourceSize</key>
				<string>{90,134}</string>
			</dict>
			<key>mul_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,1},{93,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{298,1},{93,134}}</string>
				<key>sourceSize</key>
				<string>{93,134}</string>
			</dict>
			<key>mul_multiply.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,273},{104,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,273},{104,113}}</string>
				<key>sourceSize</key>
				<string>{104,113}</string>
			</dict>
			<key>mul_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,137},{92,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{286,137},{92,132}}</string>
				<key>sourceSize</key>
				<string>{92,132}</string>
			</dict>
			<key>mul_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,1},{97,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{199,1},{97,133}}</string>
				<key>sourceSize</key>
				<string>{97,133}</string>
			</dict>
			<key>mul_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,1},{73,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{393,1},{73,132}}</string>
				<key>sourceSize</key>
				<string>{73,132}</string>
			</dict>
			<key>mul_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,1},{97,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{100,1},{97,133}}</string>
				<key>sourceSize</key>
				<string>{97,133}</string>
			</dict>
			<key>mul_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,136},{93,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{191,136},{93,132}}</string>
				<key>sourceSize</key>
				<string>{93,132}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>shuzifuhao.png</string>
			<key>size</key>
			<string>{471,388}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>shuzifuhao.png</string>
		</dict>
	</dict>
</plist>
