<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>wood_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,405},{52,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,405},{52,64}}</string>
				<key>sourceSize</key>
				<string>{52,64}</string>
			</dict>
			<key>wood_decimal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,705},{29,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,705},{29,29}}</string>
				<key>sourceSize</key>
				<string>{29,29}</string>
			</dict>
			<key>wood_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,69},{48,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,69},{48,66}}</string>
				<key>sourceSize</key>
				<string>{48,66}</string>
			</dict>
			<key>wood_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,339},{57,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,339},{57,64}}</string>
				<key>sourceSize</key>
				<string>{57,64}</string>
			</dict>
			<key>wood_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,471},{47,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,471},{47,64}}</string>
				<key>sourceSize</key>
				<string>{47,64}</string>
			</dict>
			<key>wood_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{53,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{53,66}}</string>
				<key>sourceSize</key>
				<string>{53,66}</string>
			</dict>
			<key>wood_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,272},{55,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,272},{55,65}}</string>
				<key>sourceSize</key>
				<string>{55,65}</string>
			</dict>
			<key>wood_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,137},{47,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,137},{47,66}}</string>
				<key>sourceSize</key>
				<string>{47,66}</string>
			</dict>
			<key>wood_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,205},{57,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,205},{57,65}}</string>
				<key>sourceSize</key>
				<string>{57,65}</string>
			</dict>
			<key>wood_comma.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,665},{31,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,665},{31,38}}</string>
				<key>sourceSize</key>
				<string>{31,38}</string>
			</dict>
			<key>wood_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,537},{47,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,537},{47,63}}</string>
				<key>sourceSize</key>
				<string>{47,63}</string>
			</dict>
			<key>wood_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,602},{31,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,602},{31,61}}</string>
				<key>sourceSize</key>
				<string>{31,61}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>shuzitu.png</string>
			<key>size</key>
			<string>{59,735}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>shuzitu.png</string>
		</dict>
	</dict>
</plist>
