<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>remaining_free_spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1218,998},{626,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1218,998},{626,118}}</string>
				<key>sourceSize</key>
				<string>{626,118}</string>
			</dict>
			<key>free_spins_bonus.png</key>
			<dict>
				<key>frame</key>
				<string>{{708,963},{508,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{708,963},{508,153}}</string>
				<key>sourceSize</key>
				<string>{508,153}</string>
			</dict>
			<key>info4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,247},{1178,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,247},{1178,80}}</string>
				<key>sourceSize</key>
				<string>{1180,80}</string>
			</dict>
			<key>collect_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{1468,692},{304,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1468,692},{304,87}}</string>
				<key>sourceSize</key>
				<string>{304,87}</string>
			</dict>
			<key>info1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1846,1},{634,76}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1846,1},{634,76}}</string>
				<key>sourceSize</key>
				<string>{640,80}</string>
			</dict>
			<key>start_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{1712,642},{123,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1712,642},{123,91}}</string>
				<key>sourceSize</key>
				<string>{123,91}</string>
			</dict>
			<key>info2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1390,1},{966,76}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1390,1},{966,76}}</string>
				<key>sourceSize</key>
				<string>{968,80}</string>
			</dict>
			<key>win_superwin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,329},{782,423}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,329},{782,423}}</string>
				<key>sourceSize</key>
				<string>{782,423}</string>
			</dict>
			<key>win_bigwin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,754},{782,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,754},{782,206}}</string>
				<key>sourceSize</key>
				<string>{782,206}</string>
			</dict>
			<key>info5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,165},{1180,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,165},{1180,80}}</string>
				<key>sourceSize</key>
				<string>{1180,80}</string>
			</dict>
			<key>info_totalwin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1557,692},{300,70}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1557,692},{300,70}}</string>
				<key>sourceSize</key>
				<string>{300,80}</string>
			</dict>
			<key>collect_multiplier_bonus.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,329},{632,419}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{785,329},{632,419}}</string>
				<key>sourceSize</key>
				<string>{632,419}</string>
			</dict>
			<key>info_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{1712,735},{100,60}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1712,735},{100,60}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>
			<key>info3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{1350,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{1350,80}}</string>
				<key>sourceSize</key>
				<string>{1350,80}</string>
			</dict>
			<key>multiplier_max.png</key>
			<dict>
				<key>frame</key>
				<string>{{1629,692},{286,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1629,692},{286,81}}</string>
				<key>sourceSize</key>
				<string>{286,81}</string>
			</dict>
			<key>win_megawin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1660,1},{639,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1660,1},{639,184}}</string>
				<key>sourceSize</key>
				<string>{639,184}</string>
			</dict>
			<key>last_free_spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,962},{705,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,962},{705,131}}</string>
				<key>sourceSize</key>
				<string>{705,131}</string>
			</dict>
			<key>totalwin_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1206,83},{864,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1206,83},{864,182}}</string>
				<key>sourceSize</key>
				<string>{864,182}</string>
			</dict>
			<key>info7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1846,637},{480,80}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1846,637},{480,80}}</string>
				<key>sourceSize</key>
				<string>{484,80}</string>
			</dict>
			<key>info6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,83},{1196,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,83},{1196,80}}</string>
				<key>sourceSize</key>
				<string>{1200,80}</string>
			</dict>
			<key>5ofakind.png</key>
			<dict>
				<key>frame</key>
				<string>{{1468,1},{689,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1468,1},{689,190}}</string>
				<key>sourceSize</key>
				<string>{689,190}</string>
			</dict>
			<key>general_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1925,1117}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1925,1117}}</string>
				<key>sourceSize</key>
				<string>{1927,1118}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>general_text.png</string>
			<key>size</key>
			<string>{1927,1118}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>general_text.png</string>
		</dict>
	</dict>
</plist>
