<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>5ofakind.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,948},{557,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{884,948},{557,180}}</string>
				<key>sourceSize</key>
				<string>{557,180}</string>
			</dict>
			<key>remaining_free_spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,667},{730,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{885,667},{730,83}}</string>
				<key>sourceSize</key>
				<string>{730,83}</string>
			</dict>
			<key>info5.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,503},{954,80}}</string>
				<key>offset</key>
				<string>{-6,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{932,503},{954,80}}</string>
				<key>sourceSize</key>
				<string>{968,80}</string>
			</dict>
			<key>win_megawin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,944},{881,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,944},{881,205}}</string>
				<key>sourceSize</key>
				<string>{881,205}</string>
			</dict>
			<key>info7.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,339},{1084,80}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{932,339},{1084,80}}</string>
				<key>sourceSize</key>
				<string>{1098,80}</string>
			</dict>
			<key>info_totalwin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1809,81},{169,74}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1809,81},{169,74}}</string>
				<key>sourceSize</key>
				<string>{179,80}</string>
			</dict>
			<key>info4.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,585},{952,80}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{885,585},{952,80}}</string>
				<key>sourceSize</key>
				<string>{968,80}</string>
			</dict>
			<key>info2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,81},{1806,80}}</string>
				<key>offset</key>
				<string>{-6,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,81},{1806,80}}</string>
				<key>sourceSize</key>
				<string>{1820,80}</string>
			</dict>
			<key>free_spins_bonus.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,752},{662,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{885,752},{662,112}}</string>
				<key>sourceSize</key>
				<string>{662,112}</string>
			</dict>
			<key>win_bigwin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1617,667},{532,353}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1617,667},{532,353}}</string>
				<key>sourceSize</key>
				<string>{532,353}</string>
			</dict>
			<key>multiplier_max.png</key>
			<dict>
				<key>frame</key>
				<string>{{1232,1130},{286,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1232,1130},{286,81}}</string>
				<key>sourceSize</key>
				<string>{286,81}</string>
			</dict>
			<key>info_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{1900,421},{225,70}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1900,421},{225,70}}</string>
				<key>sourceSize</key>
				<string>{231,80}</string>
			</dict>
			<key>info6.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,421},{966,80}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{932,421},{966,80}}</string>
				<key>sourceSize</key>
				<string>{978,80}</string>
			</dict>
			<key>last_free_spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1151},{831,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1151},{831,101}}</string>
				<key>sourceSize</key>
				<string>{831,101}</string>
			</dict>
			<key>info1.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,866},{664,80}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{885,866},{664,80}}</string>
				<key>sourceSize</key>
				<string>{676,80}</string>
			</dict>
			<key>collect_multiplier_bonus.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,163},{929,419}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,163},{929,419}}</string>
				<key>sourceSize</key>
				<string>{929,419}</string>
			</dict>
			<key>collect_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,1130},{346,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{884,1130},{346,72}}</string>
				<key>sourceSize</key>
				<string>{346,72}</string>
			</dict>
			<key>win_superwin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,584},{882,358}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,584},{882,358}}</string>
				<key>sourceSize</key>
				<string>{882,358}</string>
			</dict>
			<key>start_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{1520,948},{278,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1520,948},{278,80}}</string>
				<key>sourceSize</key>
				<string>{278,80}</string>
			</dict>
			<key>totalwin_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,163},{984,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{932,163},{984,174}}</string>
				<key>sourceSize</key>
				<string>{984,174}</string>
			</dict>
			<key>info3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{2016,78}}</string>
				<key>offset</key>
				<string>{-9,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{2016,78}}</string>
				<key>sourceSize</key>
				<string>{2036,80}</string>
			</dict>
			<key>general_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{2014,1253}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{2014,1253}}</string>
				<key>sourceSize</key>
				<string>{2018,1253}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>general_text.png</string>
			<key>size</key>
			<string>{2018,1253}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>general_text.png</string>
		</dict>
	</dict>
</plist>
