<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>info_board_c.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{741,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{741,169}}</string>
				<key>sourceSize</key>
				<string>{741,169}</string>
			</dict>
			<key>info_board_c_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{744,1},{68,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{744,1},{68,95}}</string>
				<key>sourceSize</key>
				<string>{68,95}</string>
			</dict>
			<key>info_board_a_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,172},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{739,172},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>info_board_a_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,70},{12,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{814,70},{12,75}}</string>
				<key>sourceSize</key>
				<string>{12,75}</string>
			</dict>
			<key>info_board_b_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,1},{67,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{814,1},{67,67}}</string>
				<key>sourceSize</key>
				<string>{67,67}</string>
			</dict>
			<key>info_board_vfx_b_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,322},{293,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{693,322},{293,147}}</string>
				<key>sourceSize</key>
				<string>{293,147}</string>
			</dict>
			<key>info_board_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,172},{736,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,172},{736,148}}</string>
				<key>sourceSize</key>
				<string>{736,148}</string>
			</dict>
			<key>info_board_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,322},{690,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,322},{690,133}}</string>
				<key>sourceSize</key>
				<string>{690,133}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>xinxizhanshi.png</string>
			<key>size</key>
			<string>{987,470}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>xinxizhanshi.png</string>
		</dict>
	</dict>
</plist>
