<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>wh_block_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,427},{154,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{313,427},{154,166}}</string>
				<key>sourceSize</key>
				<string>{154,166}</string>
			</dict>
			<key>wh_vfx_d_screen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{210,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{210,210}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>wh_block_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,169},{154,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{213,169},{154,166}}</string>
				<key>sourceSize</key>
				<string>{154,166}</string>
			</dict>
			<key>wh_block_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,213},{154,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,213},{154,166}}</string>
				<key>sourceSize</key>
				<string>{154,166}</string>
			</dict>
			<key>wh_block_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,337},{154,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{157,337},{154,166}}</string>
				<key>sourceSize</key>
				<string>{154,166}</string>
			</dict>
			<key>wh_block_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,381},{154,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,381},{154,166}}</string>
				<key>sourceSize</key>
				<string>{154,166}</string>
			</dict>
			<key>wh_block_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,1},{154,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{213,1},{154,166}}</string>
				<key>sourceSize</key>
				<string>{154,166}</string>
			</dict>
			<key>wh_vfx_e_screen_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,285},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{369,285},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>wh_vfx_e_screen_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,143},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{369,143},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>wh_vfx_e_screen_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,1},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{369,1},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>zjzhbeijingtexiao.png</string>
			<key>size</key>
			<string>{510,594}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>zjzhbeijingtexiao.png</string>
		</dict>
	</dict>
</plist>
