<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>info7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1107},{919,82}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1107},{919,82}}</string>
				<key>sourceSize</key>
				<string>{929,82}</string>
			</dict>
			<key>win_superwin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,573},{926,353}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,573},{926,353}}</string>
				<key>sourceSize</key>
				<string>{926,353}</string>
			</dict>
			<key>totalwin_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,928},{899,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,928},{899,177}}</string>
				<key>sourceSize</key>
				<string>{899,177}</string>
			</dict>
			<key>multiplier_max.png</key>
			<dict>
				<key>frame</key>
				<string>{{1632,1137},{286,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1632,1137},{286,81}}</string>
				<key>sourceSize</key>
				<string>{286,81}</string>
			</dict>
			<key>collect_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{1375,731},{360,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1375,731},{360,73}}</string>
				<key>sourceSize</key>
				<string>{360,73}</string>
			</dict>
			<key>start_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{1781,731},{241,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1781,731},{241,79}}</string>
				<key>sourceSize</key>
				<string>{241,79}</string>
			</dict>
			<key>win_bigwin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1535,152},{577,353}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1535,152},{577,353}}</string>
				<key>sourceSize</key>
				<string>{577,353}</string>
			</dict>
			<key>win_megawin.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,152},{589,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{944,152},{589,380}}</string>
				<key>sourceSize</key>
				<string>{589,380}</string>
			</dict>
			<key>info4.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,891},{850,80}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{929,891},{850,80}}</string>
				<key>sourceSize</key>
				<string>{868,80}</string>
			</dict>
			<key>last_free_spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,1137},{708,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{922,1137},{708,88}}</string>
				<key>sourceSize</key>
				<string>{708,88}</string>
			</dict>
			<key>info3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{1997,81}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{1997,81}}</string>
				<key>sourceSize</key>
				<string>{2007,81}</string>
			</dict>
			<key>info2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,84},{1398,66}}</string>
				<key>offset</key>
				<string>{-8,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,84},{1398,66}}</string>
				<key>sourceSize</key>
				<string>{1416,80}</string>
			</dict>
			<key>info5.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,1055},{854,80}}</string>
				<key>offset</key>
				<string>{-6,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{922,1055},{854,80}}</string>
				<key>sourceSize</key>
				<string>{868,80}</string>
			</dict>
			<key>collect_multiplier_bonus.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,152},{941,419}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,152},{941,419}}</string>
				<key>sourceSize</key>
				<string>{941,419}</string>
			</dict>
			<key>5ofakind.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,711},{444,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{929,711},{444,178}}</string>
				<key>sourceSize</key>
				<string>{444,178}</string>
			</dict>
			<key>info1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1401,84},{591,66}}</string>
				<key>offset</key>
				<string>{-4,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1401,84},{591,66}}</string>
				<key>sourceSize</key>
				<string>{605,80}</string>
			</dict>
			<key>info6.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,973},{866,80}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{902,973},{866,80}}</string>
				<key>sourceSize</key>
				<string>{878,80}</string>
			</dict>
			<key>free_spins_bonus.png</key>
			<dict>
				<key>frame</key>
				<string>{{1890,152},{619,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1890,152},{619,112}}</string>
				<key>sourceSize</key>
				<string>{619,112}</string>
			</dict>
			<key>info_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{1862,773},{210,70}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1862,773},{210,70}}</string>
				<key>sourceSize</key>
				<string>{212,80}</string>
			</dict>
			<key>remaining_free_spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,534},{456,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{944,534},{456,175}}</string>
				<key>sourceSize</key>
				<string>{456,175}</string>
			</dict>
			<key>info_totalwin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1375,806},{319,62}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1375,806},{319,62}}</string>
				<key>sourceSize</key>
				<string>{321,80}</string>
			</dict>
			<key>general_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{2003,1224}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{2003,1224}}</string>
				<key>sourceSize</key>
				<string>{2003,1226}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>general_text.png</string>
			<key>size</key>
			<string>{2003,1226}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>general_text.png</string>
		</dict>
	</dict>
</plist>
