<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>tw_vfx_b_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1301,560},{405,382}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1301,560},{405,382}}</string>
				<key>sourceSize</key>
				<string>{405,382}</string>
			</dict>
			<key>tw_vfx_d_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,1},{540,1170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{759,1},{540,1170}}</string>
				<key>sourceSize</key>
				<string>{540,1170}</string>
			</dict>
			<key>tw_vfx_a_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,1173},{756,707}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{759,1173},{756,707}}</string>
				<key>sourceSize</key>
				<string>{756,707}</string>
			</dict>
			<key>tw_vfx_a_normal_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{756,949}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{756,949}}</string>
				<key>sourceSize</key>
				<string>{756,949}</string>
			</dict>
			<key>tw_vfx_c_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1301,1},{400,557}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1301,1},{400,557}}</string>
				<key>sourceSize</key>
				<string>{400,557}</string>
			</dict>
			<key>tw_vfx_a_normal_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,952},{756,852}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,952},{756,852}}</string>
				<key>sourceSize</key>
				<string>{756,852}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>mianfeimosjiesuan.png</string>
			<key>size</key>
			<string>{1707,1881}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>mianfeimosjiesuan.png</string>
		</dict>
	</dict>
</plist>
