<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fs_vfx_g_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1245},{333,333}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1245},{333,333}}</string>
				<key>sourceSize</key>
				<string>{333,333}</string>
			</dict>
			<key>fs_vfx_c_screen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,695},{289,548}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,695},{289,548}}</string>
				<key>sourceSize</key>
				<string>{289,548}</string>
			</dict>
			<key>fs_vfx_b_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,1},{105,586}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{233,1},{105,586}}</string>
				<key>sourceSize</key>
				<string>{105,586}</string>
			</dict>
			<key>fs_vfx_a_screen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{230,692}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{230,692}}</string>
				<key>sourceSize</key>
				<string>{230,692}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>jiasuguanxiao.png</string>
			<key>size</key>
			<string>{339,1579}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>jiasuguanxiao.png</string>
		</dict>
	</dict>
</plist>
