<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bonus_bg_vfx_a_add_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,493},{414,162}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{417,493},{414,162}}</string>
				<key>sourceSize</key>
				<string>{432,164}</string>
			</dict>
			<key>bonus_bg_vfx_a_add_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,819},{414,160}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{417,819},{414,160}}</string>
				<key>sourceSize</key>
				<string>{432,164}</string>
			</dict>
			<key>bonus_bg_vfx_a_add_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{833,745},{414,160}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{833,745},{414,160}}</string>
				<key>sourceSize</key>
				<string>{432,164}</string>
			</dict>
			<key>bonus_bg_vfx_a_add_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,981},{414,160}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{417,981},{414,160}}</string>
				<key>sourceSize</key>
				<string>{432,164}</string>
			</dict>
			<key>bonus_bg_vfx_a_add_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,493},{414,162}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,493},{414,162}}</string>
				<key>sourceSize</key>
				<string>{432,164}</string>
			</dict>
			<key>bonus_bg_vfx_a_add_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,165},{416,162}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{419,165},{416,162}}</string>
				<key>sourceSize</key>
				<string>{432,164}</string>
			</dict>
			<key>bonus_bg_vfx_a_add_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,657},{414,162}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,657},{414,162}}</string>
				<key>sourceSize</key>
				<string>{432,164}</string>
			</dict>
			<key>bonus_bg_vfx_a_add_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,165},{416,162}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,165},{416,162}}</string>
				<key>sourceSize</key>
				<string>{432,164}</string>
			</dict>
			<key>bonus_bg_vfx_a_add_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,657},{414,160}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{417,657},{414,160}}</string>
				<key>sourceSize</key>
				<string>{432,164}</string>
			</dict>
			<key>bonus_bg_vfx_a_add_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,329},{414,162}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{419,329},{414,162}}</string>
				<key>sourceSize</key>
				<string>{432,164}</string>
			</dict>
			<key>bonus_bg_vfx_a_add_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,329},{414,160}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{835,329},{414,160}}</string>
				<key>sourceSize</key>
				<string>{432,164}</string>
			</dict>
			<key>bonus_bg_vfx_a_add_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,985},{414,160}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,985},{414,160}}</string>
				<key>sourceSize</key>
				<string>{432,164}</string>
			</dict>
			<key>bonus_bg_vfx_a_add_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,1},{416,162}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{419,1},{416,162}}</string>
				<key>sourceSize</key>
				<string>{432,164}</string>
			</dict>
			<key>bonus_bg_vfx_a_add_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,329},{416,162}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,329},{416,162}}</string>
				<key>sourceSize</key>
				<string>{432,164}</string>
			</dict>
			<key>bonus_bg_vfx_a_add_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,821},{414,162}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,821},{414,162}}</string>
				<key>sourceSize</key>
				<string>{432,164}</string>
			</dict>
			<key>bonus_bg_vfx_a_add_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{416,162}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{416,162}}</string>
				<key>sourceSize</key>
				<string>{432,164}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>fs_basemap_particle.jpg</string>
			<key>size</key>
			<string>{996,1160}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>fs_basemap_particle.jpg</string>
		</dict>
	</dict>
</plist>
