<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bl_c.png</key>
			<dict>
				<key>frame</key>
				<string>{{1085,1},{540,1022}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1085,1},{540,1022}}</string>
				<key>sourceSize</key>
				<string>{540,1022}</string>
			</dict>
			<key>bl_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,1},{540,1101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{543,1},{540,1101}}</string>
				<key>sourceSize</key>
				<string>{540,1101}</string>
			</dict>
			<key>bl_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{1085,1025},{540,736}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1085,1025},{540,736}}</string>
				<key>sourceSize</key>
				<string>{540,736}</string>
			</dict>
			<key>bl_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{540,1170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{540,1170}}</string>
				<key>sourceSize</key>
				<string>{540,1170}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>mfmskaishijiemian.png</string>
			<key>size</key>
			<string>{1626,1762}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>mfmskaishijiemian.png</string>
		</dict>
	</dict>
</plist>
