<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>glow_01_fast.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,983},{32,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{307,983},{32,108}}</string>
				<key>sourceSize</key>
				<string>{32,108}</string>
			</dict>
			<key>glow_02_fast.png</key>
			<dict>
				<key>frame</key>
				<string>{{1181,355},{28,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1181,355},{28,176}}</string>
				<key>sourceSize</key>
				<string>{28,176}</string>
			</dict>
			<key>bonus_glow_c.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,895},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{665,895},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>bonus_glow_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,644},{251,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{411,644},{251,252}}</string>
				<key>sourceSize</key>
				<string>{251,252}</string>
			</dict>
			<key>background_fire_glow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1075,156},{136,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1075,156},{136,197}}</string>
				<key>sourceSize</key>
				<string>{136,197}</string>
			</dict>
			<key>bonus_glow_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,415},{408,408}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,415},{408,408}}</string>
				<key>sourceSize</key>
				<string>{408,408}</string>
			</dict>
			<key>collect_button_glow_02_total.png</key>
			<dict>
				<key>frame</key>
				<string>{{1453,860},{89,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1453,860},{89,52}}</string>
				<key>sourceSize</key>
				<string>{89,52}</string>
			</dict>
			<key>collect_button_glow_01_total.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,983},{60,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{417,983},{60,32}}</string>
				<key>sourceSize</key>
				<string>{60,32}</string>
			</dict>
			<key>glow_02_spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1515,536},{44,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1515,536},{44,46}}</string>
				<key>sourceSize</key>
				<string>{44,46}</string>
			</dict>
			<key>glow_01_spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,825},{80,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{325,825},{80,76}}</string>
				<key>sourceSize</key>
				<string>{80,76}</string>
			</dict>
			<key>pattern_a_05_bw.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,391},{253,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{415,391},{253,251}}</string>
				<key>sourceSize</key>
				<string>{253,251}</string>
			</dict>
			<key>pattern_b_02_bw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1359,728},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1359,728},{130,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>pattern_b_05_bw.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,1},{332,332}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{415,1},{332,332}}</string>
				<key>sourceSize</key>
				<string>{332,332}</string>
			</dict>
			<key>pattern_a_03_bw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1515,582},{57,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1515,582},{57,42}}</string>
				<key>sourceSize</key>
				<string>{57,42}</string>
			</dict>
			<key>pattern_c_01_bw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1259,1},{274,274}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1259,1},{274,274}}</string>
				<key>sourceSize</key>
				<string>{274,274}</string>
			</dict>
			<key>glow_02_bw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1491,828},{44,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1491,828},{44,30}}</string>
				<key>sourceSize</key>
				<string>{44,30}</string>
			</dict>
			<key>glow_01_bw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1515,641},{39,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1515,641},{39,39}}</string>
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>pattern_b_03_bw.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,391},{251,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{670,391},{251,251}}</string>
				<key>sourceSize</key>
				<string>{251,251}</string>
			</dict>
			<key>pattern_b_01_bw.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,908},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{996,908},{92,92}}</string>
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>pattern_b_glow_bw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1141,793},{208,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1141,793},{208,213}}</string>
				<key>sourceSize</key>
				<string>{208,213}</string>
			</dict>
			<key>pattern_b_04_bw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1213,277},{273,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1213,277},{273,273}}</string>
				<key>sourceSize</key>
				<string>{273,273}</string>
			</dict>
			<key>pattern_a_glow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1359,552},{154,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1359,552},{154,174}}</string>
				<key>sourceSize</key>
				<string>{154,174}</string>
			</dict>
			<key>pattern_c_glow_bw.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,380},{207,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{923,380},{207,238}}</string>
				<key>sourceSize</key>
				<string>{207,238}</string>
			</dict>
			<key>pattern_a_01_bw.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,967},{57,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{527,967},{57,48}}</string>
				<key>sourceSize</key>
				<string>{57,48}</string>
			</dict>
			<key>pattern_a_02_bw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1537,828},{24,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1537,828},{24,34}}</string>
				<key>sourceSize</key>
				<string>{24,34}</string>
			</dict>
			<key>pattern_a_04_bw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1535,193},{30,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1535,193},{30,26}}</string>
				<key>sourceSize</key>
				<string>{30,26}</string>
			</dict>
			<key>pattern_c_02_bw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{412,412}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{412,412}}</string>
				<key>sourceSize</key>
				<string>{412,412}</string>
			</dict>
			<key>glow_01_5_kind.png</key>
			<dict>
				<key>frame</key>
				<string>{{1491,797},{59,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1491,797},{59,29}}</string>
				<key>sourceSize</key>
				<string>{59,29}</string>
			</dict>
			<key>flare_01_5_kind.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,897},{177,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,897},{177,93}}</string>
				<key>sourceSize</key>
				<string>{177,93}</string>
			</dict>
			<key>glow_02_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{1488,387},{73,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1488,387},{73,73}}</string>
				<key>sourceSize</key>
				<string>{73,73}</string>
			</dict>
			<key>glow_01_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{1356,860},{95,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1356,860},{95,95}}</string>
				<key>sourceSize</key>
				<string>{95,95}</string>
			</dict>
			<key>frame_01_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,895},{111,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{787,895},{111,111}}</string>
				<key>sourceSize</key>
				<string>{111,111}</string>
			</dict>
			<key>bar_glow_c_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,897},{68,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{527,897},{68,72}}</string>
				<key>sourceSize</key>
				<string>{68,72}</string>
			</dict>
			<key>bar_glow_b_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{1461,951},{64,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1461,951},{64,74}}</string>
				<key>sourceSize</key>
				<string>{64,74}</string>
			</dict>
			<key>glow_a_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{1356,957},{103,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1356,957},{103,40}}</string>
				<key>sourceSize</key>
				<string>{103,40}</string>
			</dict>
			<key>bar_glow_e_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,990},{119,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{180,990},{119,25}}</string>
				<key>sourceSize</key>
				<string>{119,25}</string>
			</dict>
			<key>bar_glow_f_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,903},{79,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{307,903},{79,78}}</string>
				<key>sourceSize</key>
				<string>{79,78}</string>
			</dict>
			<key>glow_reel_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,156},{324,222}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{749,156},{324,222}}</string>
				<key>sourceSize</key>
				<string>{324,222}</string>
			</dict>
			<key>bar_glow_d_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,903},{63,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{388,903},{63,78}}</string>
				<key>sourceSize</key>
				<string>{63,78}</string>
			</dict>
			<key>bar_glow_a_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,897},{72,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{453,897},{72,71}}</string>
				<key>sourceSize</key>
				<string>{72,71}</string>
			</dict>
			<key>glow_c_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{1488,462},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1488,462},{72,73}}</string>
				<key>sourceSize</key>
				<string>{72,73}</string>
			</dict>
			<key>flare_01_bw.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,644},{249,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{665,644},{249,249}}</string>
				<key>sourceSize</key>
				<string>{249,249}</string>
			</dict>
			<key>flare_01_total.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,620},{216,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{923,620},{216,216}}</string>
				<key>sourceSize</key>
				<string>{216,216}</string>
			</dict>
			<key>flare_02_total.png</key>
			<dict>
				<key>frame</key>
				<string>{{1141,575},{216,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1141,575},{216,216}}</string>
				<key>sourceSize</key>
				<string>{216,216}</string>
			</dict>
			<key>flare_03_total.png</key>
			<dict>
				<key>frame</key>
				<string>{{1213,156},{109,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1213,156},{109,41}}</string>
				<key>sourceSize</key>
				<string>{109,41}</string>
			</dict>
			<key>symbol_glow_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1491,728},{67,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1491,728},{67,67}}</string>
				<key>sourceSize</key>
				<string>{67,67}</string>
			</dict>
			<key>symbol_glow_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,897},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{601,897},{56,56}}</string>
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>infoboard_b_glow_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1507,860},{27,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1507,860},{27,28}}</string>
				<key>sourceSize</key>
				<string>{27,28}</string>
			</dict>
			<key>infoboard_a_glow_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1535,1},{190,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1535,1},{190,22}}</string>
				<key>sourceSize</key>
				<string>{190,22}</string>
			</dict>
			<key>infoboard_a_glow_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,335},{310,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{415,335},{310,54}}</string>
				<key>sourceSize</key>
				<string>{310,54}</string>
			</dict>
			<key>base_glow_01_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,873},{159,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{916,873},{159,33}}</string>
				<key>sourceSize</key>
				<string>{159,33}</string>
			</dict>
			<key>infoboard_b_glow_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,838},{198,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{916,838},{198,33}}</string>
				<key>sourceSize</key>
				<string>{198,33}</string>
			</dict>
			<key>infoboard_b_glow_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,825},{322,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,825},{322,70}}</string>
				<key>sourceSize</key>
				<string>{322,70}</string>
			</dict>
			<key>infoboard_b_glow_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1132,355},{218,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1132,355},{218,47}}</string>
				<key>sourceSize</key>
				<string>{218,47}</string>
			</dict>
			<key>flare_01_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,897},{125,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{180,897},{125,91}}</string>
				<key>sourceSize</key>
				<string>{125,91}</string>
			</dict>
			<key>flare_b_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{1488,277},{108,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1488,277},{108,73}}</string>
				<key>sourceSize</key>
				<string>{108,73}</string>
			</dict>
			<key>glow_b_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,1},{153,508}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{749,1},{153,508}}</string>
				<key>sourceSize</key>
				<string>{153,508}</string>
			</dict>
			<key>ray_01_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,908},{94,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{900,908},{94,94}}</string>
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>flare_01_general.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,897},{125,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{180,897},{125,91}}</string>
				<key>sourceSize</key>
				<string>{125,91}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>light_part.jpg</string>
			<key>size</key>
			<string>{1562,1016}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>light_part.jpg</string>
		</dict>
	</dict>
</plist>
