<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,922},{103,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,104}}</string>
                <key>sourceSize</key>
                <string>{103,104}</string>
            </dict>
            <key>arrow_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,738},{103,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,104}}</string>
                <key>sourceSize</key>
                <string>{103,104}</string>
            </dict>
            <key>arrow_grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,632},{103,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,104}}</string>
                <key>sourceSize</key>
                <string>{103,104}</string>
            </dict>
            <key>arrow_grey_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,526},{103,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,104}}</string>
                <key>sourceSize</key>
                <string>{103,104}</string>
            </dict>
            <key>auto_spin.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,739},{188,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,181}}</string>
                <key>sourceSize</key>
                <string>{188,181}</string>
            </dict>
            <key>background_fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,187},{36,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,84}}</string>
                <key>sourceSize</key>
                <string>{36,84}</string>
            </dict>
            <key>base.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,556},{188,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,181}}</string>
                <key>sourceSize</key>
                <string>{188,181}</string>
            </dict>
            <key>bg_bw.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,290},{108,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,234}}</string>
                <key>sourceSize</key>
                <string>{108,234}</string>
            </dict>
            <key>collect_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{383,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,132}}</string>
                <key>sourceSize</key>
                <string>{383,132}</string>
            </dict>
            <key>collect_button_msk.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,961},{197,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,69}}</string>
                <key>sourceSize</key>
                <string>{197,69}</string>
            </dict>
            <key>gem_bar_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,878},{286,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,81}}</string>
                <key>sourceSize</key>
                <string>{286,81}</string>
            </dict>
            <key>infoboard_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,785},{708,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{708,91}}</string>
                <key>sourceSize</key>
                <string>{708,91}</string>
            </dict>
            <key>infoboard_a_glow_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,1012},{114,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,22}}</string>
                <key>sourceSize</key>
                <string>{114,22}</string>
            </dict>
            <key>infoboard_a_msk.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,2},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>infoboard_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,651},{721,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{721,132}}</string>
                <key>sourceSize</key>
                <string>{721,132}</string>
            </dict>
            <key>infoboard_b_glow_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1012},{114,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,31}}</string>
                <key>sourceSize</key>
                <string>{114,31}</string>
            </dict>
            <key>infoboard_b_msk.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,922},{125,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,94}}</string>
                <key>sourceSize</key>
                <string>{125,94}</string>
            </dict>
            <key>loading_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,844},{129,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,130}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>multiplier_bar_bg_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,2},{286,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,81}}</string>
                <key>sourceSize</key>
                <string>{286,81}</string>
            </dict>
            <key>multiplier_bar_frame_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,2},{552,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,117}}</string>
                <key>sourceSize</key>
                <string>{552,117}</string>
            </dict>
            <key>multiplier_solid_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,95},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>reel_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{756,647}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{756,647}}</string>
                <key>sourceSize</key>
                <string>{756,647}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>part_ui.png</string>
            <key>size</key>
            <string>{1055,1055}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bbf783195c183ee11b21aab834b073a4$</string>
            <key>textureFileName</key>
            <string>part_ui.png</string>
        </dict>
    </dict>
</plist>
