<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>info6.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,845},{862,80}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{936,845},{862,80}}</string>
				<key>sourceSize</key>
				<string>{876,80}</string>
			</dict>
			<key>last_free_spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,927},{769,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{936,927},{769,88}}</string>
				<key>sourceSize</key>
				<string>{769,88}</string>
			</dict>
			<key>collect_multiplier_bonus.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,151},{941,405}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,151},{941,405}}</string>
				<key>sourceSize</key>
				<string>{941,405}</string>
			</dict>
			<key>info2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,83},{1612,66}}</string>
				<key>offset</key>
				<string>{-3,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,83},{1612,66}}</string>
				<key>sourceSize</key>
				<string>{1620,80}</string>
			</dict>
			<key>collect_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{1800,669},{339,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1800,669},{339,80}}</string>
				<key>sourceSize</key>
				<string>{339,80}</string>
			</dict>
			<key>win_superwin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,558},{885,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,558},{885,340}}</string>
				<key>sourceSize</key>
				<string>{885,340}</string>
			</dict>
			<key>multiplier_max.png</key>
			<dict>
				<key>frame</key>
				<string>{{1679,504},{286,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1679,504},{286,81}}</string>
				<key>sourceSize</key>
				<string>{286,81}</string>
			</dict>
			<key>info7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1078},{1095,80}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1078},{1095,80}}</string>
				<key>sourceSize</key>
				<string>{1111,80}</string>
			</dict>
			<key>remaining_free_spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1160},{715,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1160},{715,70}}</string>
				<key>sourceSize</key>
				<string>{715,70}</string>
			</dict>
			<key>win_bigwin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1469,151},{508,351}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1469,151},{508,351}}</string>
				<key>sourceSize</key>
				<string>{508,351}</string>
			</dict>
			<key>5ofakind.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,512},{733,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{944,512},{733,167}}</string>
				<key>sourceSize</key>
				<string>{733,167}</string>
			</dict>
			<key>info_totalwin.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,1160},{360,64}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{718,1160},{360,64}}</string>
				<key>sourceSize</key>
				<string>{360,80}</string>
			</dict>
			<key>start_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{1679,587},{232,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1679,587},{232,80}}</string>
				<key>sourceSize</key>
				<string>{232,80}</string>
			</dict>
			<key>info3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{1905,80}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{1905,80}}</string>
				<key>sourceSize</key>
				<string>{1915,80}</string>
			</dict>
			<key>info1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1098,1137},{741,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1098,1137},{741,80}}</string>
				<key>sourceSize</key>
				<string>{741,80}</string>
			</dict>
			<key>totalwin_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,900},{933,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,900},{933,176}}</string>
				<key>sourceSize</key>
				<string>{933,176}</string>
			</dict>
			<key>win_megawin.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,151},{523,359}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{944,151},{523,359}}</string>
				<key>sourceSize</key>
				<string>{523,359}</string>
			</dict>
			<key>info4.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,681},{847,80}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{888,681},{847,80}}</string>
				<key>sourceSize</key>
				<string>{865,80}</string>
			</dict>
			<key>free_spins_bonus.png</key>
			<dict>
				<key>frame</key>
				<string>{{1098,1017},{613,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1098,1017},{613,118}}</string>
				<key>sourceSize</key>
				<string>{613,118}</string>
			</dict>
			<key>info5.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,763},{849,80}}</string>
				<key>offset</key>
				<string>{-7,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{888,763},{849,80}}</string>
				<key>sourceSize</key>
				<string>{865,80}</string>
			</dict>
			<key>info_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{1615,83},{230,66}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1615,83},{230,66}}</string>
				<key>sourceSize</key>
				<string>{236,80}</string>
			</dict>
			<key>general_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1978,1229}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1978,1229}}</string>
				<key>sourceSize</key>
				<string>{1978,1231}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>general_text.png</string>
			<key>size</key>
			<string>{1978,1231}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>general_text.png</string>
		</dict>
	</dict>
</plist>
