<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>main_ui_bg_cape_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,1443},{432,232}}</string>
				<key>offset</key>
				<string>{0,14}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{869,1443},{432,232}}</string>
				<key>sourceSize</key>
				<string>{432,260}</string>
			</dict>
			<key>main_ui_bg_cape_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,1455},{432,234}}</string>
				<key>offset</key>
				<string>{0,13}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{435,1455},{432,234}}</string>
				<key>sourceSize</key>
				<string>{432,260}</string>
			</dict>
			<key>main_ui_bg_cape_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,1207},{432,234}}</string>
				<key>offset</key>
				<string>{0,13}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{869,1207},{432,234}}</string>
				<key>sourceSize</key>
				<string>{432,260}</string>
			</dict>
			<key>main_ui_bg_cape_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,971},{432,234}}</string>
				<key>offset</key>
				<string>{0,13}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{869,971},{432,234}}</string>
				<key>sourceSize</key>
				<string>{432,260}</string>
			</dict>
			<key>main_ui_bg_cape_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,247},{432,244}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,247},{432,244}}</string>
				<key>sourceSize</key>
				<string>{432,260}</string>
			</dict>
			<key>main_ui_bg_cape_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1303,957},{432,234}}</string>
				<key>offset</key>
				<string>{0,13}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1303,957},{432,234}}</string>
				<key>sourceSize</key>
				<string>{432,260}</string>
			</dict>
			<key>main_ui_bg_cape_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,489},{432,240}}</string>
				<key>offset</key>
				<string>{0,10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{869,489},{432,240}}</string>
				<key>sourceSize</key>
				<string>{432,260}</string>
			</dict>
			<key>main_ui_bg_cape_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,1217},{432,236}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{435,1217},{432,236}}</string>
				<key>sourceSize</key>
				<string>{432,260}</string>
			</dict>
			<key>main_ui_bg_cape_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1303,483},{432,236}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1303,483},{432,236}}</string>
				<key>sourceSize</key>
				<string>{432,260}</string>
			</dict>
			<key>main_ui_bg_cape_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1303,1193},{432,232}}</string>
				<key>offset</key>
				<string>{0,14}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1303,1193},{432,232}}</string>
				<key>sourceSize</key>
				<string>{432,260}</string>
			</dict>
			<key>main_ui_bg_cape_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{432,244}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{432,244}}</string>
				<key>sourceSize</key>
				<string>{432,260}</string>
			</dict>
			<key>main_ui_bg_cape_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1303,721},{432,234}}</string>
				<key>offset</key>
				<string>{0,13}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1303,721},{432,234}}</string>
				<key>sourceSize</key>
				<string>{432,260}</string>
			</dict>
			<key>main_ui_bg_cape_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,731},{432,238}}</string>
				<key>offset</key>
				<string>{0,11}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{869,731},{432,238}}</string>
				<key>sourceSize</key>
				<string>{432,260}</string>
			</dict>
			<key>main_ui_bg_cape_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1737,435},{432,232}}</string>
				<key>offset</key>
				<string>{0,14}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1737,435},{432,232}}</string>
				<key>sourceSize</key>
				<string>{432,260}</string>
			</dict>
			<key>main_ui_bg_cape_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,981},{432,240}}</string>
				<key>offset</key>
				<string>{0,10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,981},{432,240}}</string>
				<key>sourceSize</key>
				<string>{432,260}</string>
			</dict>
			<key>main_ui_bg_cape_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1737,1303},{432,232}}</string>
				<key>offset</key>
				<string>{0,14}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1737,1303},{432,232}}</string>
				<key>sourceSize</key>
				<string>{432,260}</string>
			</dict>
			<key>main_ui_bg_cape_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,493},{432,242}}</string>
				<key>offset</key>
				<string>{0,9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,493},{432,242}}</string>
				<key>sourceSize</key>
				<string>{432,260}</string>
			</dict>
			<key>main_ui_bg_cape_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1223},{432,238}}</string>
				<key>offset</key>
				<string>{0,11}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1223},{432,238}}</string>
				<key>sourceSize</key>
				<string>{432,260}</string>
			</dict>
			<key>main_ui_bg_cape_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1303,243},{432,238}}</string>
				<key>offset</key>
				<string>{0,11}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1303,243},{432,238}}</string>
				<key>sourceSize</key>
				<string>{432,260}</string>
			</dict>
			<key>main_ui_bg_cape_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,735},{432,240}}</string>
				<key>offset</key>
				<string>{0,10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{435,735},{432,240}}</string>
				<key>sourceSize</key>
				<string>{432,260}</string>
			</dict>
			<key>main_ui_bg_cape_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,247},{432,242}}</string>
				<key>offset</key>
				<string>{0,9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{435,247},{432,242}}</string>
				<key>sourceSize</key>
				<string>{432,260}</string>
			</dict>
			<key>main_ui_bg_cape_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,1},{432,244}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{435,1},{432,244}}</string>
				<key>sourceSize</key>
				<string>{432,260}</string>
			</dict>
			<key>main_ui_bg_cape_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1463},{432,236}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1463},{432,236}}</string>
				<key>sourceSize</key>
				<string>{432,260}</string>
			</dict>
			<key>main_ui_bg_cape_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,737},{432,242}}</string>
				<key>offset</key>
				<string>{0,9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,737},{432,242}}</string>
				<key>sourceSize</key>
				<string>{432,260}</string>
			</dict>
			<key>main_ui_bg_cape_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1303,1427},{432,232}}</string>
				<key>offset</key>
				<string>{0,14}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1303,1427},{432,232}}</string>
				<key>sourceSize</key>
				<string>{432,260}</string>
			</dict>
			<key>main_ui_bg_cape_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1737,1},{432,232}}</string>
				<key>offset</key>
				<string>{0,14}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1737,1},{432,232}}</string>
				<key>sourceSize</key>
				<string>{432,260}</string>
			</dict>
			<key>main_ui_bg_cape_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,977},{432,238}}</string>
				<key>offset</key>
				<string>{0,11}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{435,977},{432,238}}</string>
				<key>sourceSize</key>
				<string>{432,260}</string>
			</dict>
			<key>main_ui_bg_cape_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,1},{432,242}}</string>
				<key>offset</key>
				<string>{0,9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{869,1},{432,242}}</string>
				<key>sourceSize</key>
				<string>{432,260}</string>
			</dict>
			<key>main_ui_bg_cape_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1303,1},{432,240}}</string>
				<key>offset</key>
				<string>{0,10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1303,1},{432,240}}</string>
				<key>sourceSize</key>
				<string>{432,260}</string>
			</dict>
			<key>main_ui_bg_cape_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,245},{432,242}}</string>
				<key>offset</key>
				<string>{0,9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{869,245},{432,242}}</string>
				<key>sourceSize</key>
				<string>{432,260}</string>
			</dict>
			<key>main_ui_bg_cape_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1737,869},{432,232}}</string>
				<key>offset</key>
				<string>{0,14}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1737,869},{432,232}}</string>
				<key>sourceSize</key>
				<string>{432,260}</string>
			</dict>
			<key>main_ui_bg_cape_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,491},{432,242}}</string>
				<key>offset</key>
				<string>{0,9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{435,491},{432,242}}</string>
				<key>sourceSize</key>
				<string>{432,260}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>sky_bg02.png</string>
			<key>size</key>
			<string>{1970,1736}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>sky_bg02.png</string>
		</dict>
	</dict>
</plist>
