<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>info_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{1521,971},{215,66}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1521,971},{215,66}}</string>
				<key>sourceSize</key>
				<string>{215,80}</string>
			</dict>
			<key>5ofakind.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,791},{898,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,791},{898,160}}</string>
				<key>sourceSize</key>
				<string>{898,160}</string>
			</dict>
			<key>info_totalwin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1037,1208},{208,76}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1037,1208},{208,76}}</string>
				<key>sourceSize</key>
				<string>{216,80}</string>
			</dict>
			<key>info5.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,529},{1022,80}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{873,529},{1022,80}}</string>
				<key>sourceSize</key>
				<string>{1028,80}</string>
			</dict>
			<key>win_bigwin.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,693},{730,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{901,693},{730,182}}</string>
				<key>sourceSize</key>
				<string>{730,182}</string>
			</dict>
			<key>multiplier_max.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,1039},{286,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{837,1039},{286,81}}</string>
				<key>sourceSize</key>
				<string>{286,81}</string>
			</dict>
			<key>win_superwin.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,165},{874,362}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{850,165},{874,362}}</string>
				<key>sourceSize</key>
				<string>{874,362}</string>
			</dict>
			<key>info6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1204},{1034,80}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1204},{1034,80}}</string>
				<key>sourceSize</key>
				<string>{1036,80}</string>
			</dict>
			<key>info1.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,971},{682,66}}</string>
				<key>offset</key>
				<string>{-1,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{837,971},{682,66}}</string>
				<key>sourceSize</key>
				<string>{686,80}</string>
			</dict>
			<key>last_free_spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1125,1039},{597,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1125,1039},{597,167}}</string>
				<key>sourceSize</key>
				<string>{597,167}</string>
			</dict>
			<key>info4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1122},{1020,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1122},{1020,80}}</string>
				<key>sourceSize</key>
				<string>{1028,80}</string>
			</dict>
			<key>collect_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{1247,1208},{408,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1247,1208},{408,66}}</string>
				<key>sourceSize</key>
				<string>{408,66}</string>
			</dict>
			<key>free_spins_bonus.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,877},{694,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{901,877},{694,92}}</string>
				<key>sourceSize</key>
				<string>{694,92}</string>
			</dict>
			<key>info2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,83},{1821,80}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,83},{1821,80}}</string>
				<key>sourceSize</key>
				<string>{1827,80}</string>
			</dict>
			<key>info3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{2006,80}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{2006,80}}</string>
				<key>sourceSize</key>
				<string>{2016,80}</string>
			</dict>
			<key>remaining_free_spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1738,611},{596,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1738,611},{596,180}}</string>
				<key>sourceSize</key>
				<string>{596,180}</string>
			</dict>
			<key>collect_multiplier_bonus.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,165},{847,419}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,165},{847,419}}</string>
				<key>sourceSize</key>
				<string>{847,419}</string>
			</dict>
			<key>win_megawin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,586},{870,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,586},{870,203}}</string>
				<key>sourceSize</key>
				<string>{870,203}</string>
			</dict>
			<key>totalwin_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,953},{834,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,953},{834,167}}</string>
				<key>sourceSize</key>
				<string>{834,167}</string>
			</dict>
			<key>info7.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,611},{779,80}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{873,611},{779,80}}</string>
				<key>sourceSize</key>
				<string>{785,80}</string>
			</dict>
			<key>start_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{1726,165},{278,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1726,165},{278,79}}</string>
				<key>sourceSize</key>
				<string>{278,79}</string>
			</dict>
			<key>general_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{2006,1285}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{2006,1285}}</string>
				<key>sourceSize</key>
				<string>{2008,1285}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>general_text.png</string>
			<key>size</key>
			<string>{2008,1285}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>general_text.png</string>
		</dict>
	</dict>
</plist>
