<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>sb_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,1},{134,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{293,1},{134,136}}</string>
				<key>sourceSize</key>
				<string>{134,136}</string>
			</dict>
			<key>sb_arrow_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,219},{134,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{171,219},{134,136}}</string>
				<key>sourceSize</key>
				<string>{134,136}</string>
			</dict>
			<key>sb_arrow_grey.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,139},{134,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{307,139},{134,136}}</string>
				<key>sourceSize</key>
				<string>{134,136}</string>
			</dict>
			<key>sb_arrow_grey_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,277},{134,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{307,277},{134,136}}</string>
				<key>sourceSize</key>
				<string>{134,136}</string>
			</dict>
			<key>sb_auto.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,219},{168,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,219},{168,168}}</string>
				<key>sourceSize</key>
				<string>{168,168}</string>
			</dict>
			<key>sb_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{290,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{290,216}}</string>
				<key>sourceSize</key>
				<string>{290,216}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>anniutuui.png</string>
			<key>size</key>
			<string>{442,414}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>anniutuui.png</string>
		</dict>
	</dict>
</plist>
