<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>red_x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,285},{46,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,285},{46,50}}</string>
				<key>sourceSize</key>
				<string>{46,50}</string>
			</dict>
			<key>red_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,72},{48,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{62,72},{48,68}}</string>
				<key>sourceSize</key>
				<string>{48,68}</string>
			</dict>
			<key>red_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,71},{59,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,71},{59,69}}</string>
				<key>sourceSize</key>
				<string>{59,69}</string>
			</dict>
			<key>red_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,214},{54,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,214},{54,69}}</string>
				<key>sourceSize</key>
				<string>{54,69}</string>
			</dict>
			<key>red_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,142},{55,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,142},{55,70}}</string>
				<key>sourceSize</key>
				<string>{55,70}</string>
			</dict>
			<key>red_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,1},{47,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{63,1},{47,69}}</string>
				<key>sourceSize</key>
				<string>{47,69}</string>
			</dict>
			<key>red_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{60,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{60,68}}</string>
				<key>sourceSize</key>
				<string>{60,68}</string>
			</dict>
			<key>red_decimal.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,352},{26,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{64,352},{26,29}}</string>
				<key>sourceSize</key>
				<string>{26,29}</string>
			</dict>
			<key>red_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,213},{49,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{58,213},{49,67}}</string>
				<key>sourceSize</key>
				<string>{49,67}</string>
			</dict>
			<key>red_comma.png</key>
			<dict>
				<key>frame</key>
				<string>{{34,352},{28,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{34,352},{28,39}}</string>
				<key>sourceSize</key>
				<string>{28,39}</string>
			</dict>
			<key>red_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,142},{50,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{58,142},{50,69}}</string>
				<key>sourceSize</key>
				<string>{50,69}</string>
			</dict>
			<key>red_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,337},{31,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,337},{31,64}}</string>
				<key>sourceSize</key>
				<string>{31,64}</string>
			</dict>
			<key>red_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,282},{53,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{57,282},{53,68}}</string>
				<key>sourceSize</key>
				<string>{53,68}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>shuzitu03.png</string>
			<key>size</key>
			<string>{111,402}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>shuzitu03.png</string>
		</dict>
	</dict>
</plist>
