<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bl_vfx_b_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,1},{202,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{303,1},{202,195}}</string>
				<key>sourceSize</key>
				<string>{202,195}</string>
			</dict>
			<key>bl_vfx_b_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,198},{200,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{303,198},{200,195}}</string>
				<key>sourceSize</key>
				<string>{200,195}</string>
			</dict>
			<key>bl_vfx_b_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,795},{218,288}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,795},{218,288}}</string>
				<key>sourceSize</key>
				<string>{218,288}</string>
			</dict>
			<key>bl_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1406},{369,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1406},{369,134}}</string>
				<key>sourceSize</key>
				<string>{369,134}</string>
			</dict>
			<key>bl_vfx_b_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{300,370}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{300,370}}</string>
				<key>sourceSize</key>
				<string>{300,370}</string>
			</dict>
			<key>bl_vfx_b_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,373},{230,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,373},{230,420}}</string>
				<key>sourceSize</key>
				<string>{230,420}</string>
			</dict>
			<key>bl_vfx_b_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,395},{266,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{233,395},{266,321}}</string>
				<key>sourceSize</key>
				<string>{266,321}</string>
			</dict>
			<key>bl_vfx_b_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,718},{230,326}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{233,718},{230,326}}</string>
				<key>sourceSize</key>
				<string>{230,326}</string>
			</dict>
			<key>bl_vfx_b_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1085},{328,319}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1085},{328,319}}</string>
				<key>sourceSize</key>
				<string>{328,319}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>tuandongtai.png</string>
			<key>size</key>
			<string>{506,1541}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>tuandongtai.png</string>
		</dict>
	</dict>
</plist>
