<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>h_smile_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,1},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{532,1},{175,175}}</string>
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>
			<key>h_heart_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,1},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{355,1},{175,175}}</string>
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>
			<key>h_doge_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,1},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{178,1},{175,175}}</string>
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>
			<key>l_cleaver_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{1063,1},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1063,1},{175,175}}</string>
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>
			<key>l_bomb_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,1},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{886,1},{175,175}}</string>
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>
			<key>l_poop_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{1240,1},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1240,1},{175,175}}</string>
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>
			<key>h_cool_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{175,175}}</string>
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>
			<key>l_beer_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,1},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{709,1},{175,175}}</string>
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>
			<key>blur_symbol.png</key>
			<dict>
				<key>frame</key>
				<string>{{48,43},{1318,95}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{48,43},{1318,95}}</string>
				<key>sourceSize</key>
				<string>{1416,177}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>blur_symbol.png</string>
			<key>size</key>
			<string>{1416,177}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>blur_symbol.png</string>
		</dict>
	</dict>
</plist>
