<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bar_shinning_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,101},{205,98}}</string>
				<key>offset</key>
				<string>{-56,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{214,101},{205,98}}</string>
				<key>sourceSize</key>
				<string>{329,98}</string>
			</dict>
			<key>bar_shinning_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,1},{201,98}}</string>
				<key>offset</key>
				<string>{53,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{429,1},{201,98}}</string>
				<key>sourceSize</key>
				<string>{329,98}</string>
			</dict>
			<key>bar_shinning_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,101},{177,98}}</string>
				<key>offset</key>
				<string>{-72,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{421,101},{177,98}}</string>
				<key>sourceSize</key>
				<string>{329,98}</string>
			</dict>
			<key>bar_shinning_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{213,98}}</string>
				<key>offset</key>
				<string>{-30,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{213,98}}</string>
				<key>sourceSize</key>
				<string>{329,98}</string>
			</dict>
			<key>bar_shinning_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,99},{87,90}}</string>
				<key>offset</key>
				<string>{118,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{870,99},{87,90}}</string>
				<key>sourceSize</key>
				<string>{329,98}</string>
			</dict>
			<key>bar_shinning_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,101},{211,98}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,101},{211,98}}</string>
				<key>sourceSize</key>
				<string>{329,98}</string>
			</dict>
			<key>bar_shinning_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,101},{119,96}}</string>
				<key>offset</key>
				<string>{103,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{749,101},{119,96}}</string>
				<key>sourceSize</key>
				<string>{329,98}</string>
			</dict>
			<key>bar_shinning_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,1},{211,98}}</string>
				<key>offset</key>
				<string>{28,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{216,1},{211,98}}</string>
				<key>sourceSize</key>
				<string>{329,98}</string>
			</dict>
			<key>bar_shinning_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{811,1},{145,96}}</string>
				<key>offset</key>
				<string>{-89,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{811,1},{145,96}}</string>
				<key>sourceSize</key>
				<string>{329,98}</string>
			</dict>
			<key>bar_shinning_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,1},{177,98}}</string>
				<key>offset</key>
				<string>{72,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{632,1},{177,98}}</string>
				<key>sourceSize</key>
				<string>{329,98}</string>
			</dict>
			<key>bar_shinning_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,101},{147,96}}</string>
				<key>offset</key>
				<string>{88,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{600,101},{147,96}}</string>
				<key>sourceSize</key>
				<string>{329,98}</string>
			</dict>
			<key>bar_shinning_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,191},{3,3}}</string>
				<key>offset</key>
				<string>{-162,48}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{870,191},{3,3}}</string>
				<key>sourceSize</key>
				<string>{329,98}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>fs_bar_sweep_light.jpg</string>
			<key>size</key>
			<string>{958,200}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>fs_bar_sweep_light.jpg</string>
		</dict>
	</dict>
</plist>
