<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>win_superwin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1703,79},{637,329}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1703,79},{637,329}}</string>
				<key>sourceSize</key>
				<string>{637,329}</string>
			</dict>
			<key>info2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,79},{1700,72}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,79},{1700,72}}</string>
				<key>sourceSize</key>
				<string>{1700,80}</string>
			</dict>
			<key>info4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,317},{1654,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,317},{1654,80}}</string>
				<key>sourceSize</key>
				<string>{1660,80}</string>
			</dict>
			<key>multiplier_max.png</key>
			<dict>
				<key>frame</key>
				<string>{{1472,1005},{286,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1472,1005},{286,81}}</string>
				<key>sourceSize</key>
				<string>{286,81}</string>
			</dict>
			<key>win_bigwin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1007,399},{584,374}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1007,399},{584,374}}</string>
				<key>sourceSize</key>
				<string>{584,374}</string>
			</dict>
			<key>start_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{1800,805},{201,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1800,805},{201,72}}</string>
				<key>sourceSize</key>
				<string>{201,72}</string>
			</dict>
			<key>5ofakind.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1265},{748,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1265},{748,162}}</string>
				<key>sourceSize</key>
				<string>{748,162}</string>
			</dict>
			<key>win_megawin.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,1005},{585,336}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{885,1005},{585,336}}</string>
				<key>sourceSize</key>
				<string>{585,336}</string>
			</dict>
			<key>info1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1007,775},{710,72}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1007,775},{710,72}}</string>
				<key>sourceSize</key>
				<string>{712,80}</string>
			</dict>
			<key>info6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,153},{1662,80}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,153},{1662,80}}</string>
				<key>sourceSize</key>
				<string>{1670,80}</string>
			</dict>
			<key>last_free_spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,808},{909,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,808},{909,172}}</string>
				<key>sourceSize</key>
				<string>{909,172}</string>
			</dict>
			<key>remaining_free_spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,849},{705,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{912,849},{705,154}}</string>
				<key>sourceSize</key>
				<string>{705,154}</string>
			</dict>
			<key>totalwin_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,982},{882,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,982},{882,199}}</string>
				<key>sourceSize</key>
				<string>{882,199}</string>
			</dict>
			<key>collect_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{1593,399},{355,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1593,399},{355,66}}</string>
				<key>sourceSize</key>
				<string>{355,66}</string>
			</dict>
			<key>info5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,235},{1658,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,235},{1658,80}}</string>
				<key>sourceSize</key>
				<string>{1660,80}</string>
			</dict>
			<key>info_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{1555,1005},{270,71}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1555,1005},{270,71}}</string>
				<key>sourceSize</key>
				<string>{270,85}</string>
			</dict>
			<key>info7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1183},{860,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1183},{860,80}}</string>
				<key>sourceSize</key>
				<string>{860,80}</string>
			</dict>
			<key>collect_multiplier_bonus.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,399},{1004,407}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,399},{1004,407}}</string>
				<key>sourceSize</key>
				<string>{1004,407}</string>
			</dict>
			<key>free_spins_bonus.png</key>
			<dict>
				<key>frame</key>
				<string>{{1628,849},{553,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1628,849},{553,170}}</string>
				<key>sourceSize</key>
				<string>{553,170}</string>
			</dict>
			<key>info_totalwin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1719,718},{207,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1719,718},{207,85}}</string>
				<key>sourceSize</key>
				<string>{211,85}</string>
			</dict>
			<key>info3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{2020,76}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{2020,76}}</string>
				<key>sourceSize</key>
				<string>{2020,80}</string>
			</dict>
			<key>general_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2},{2033,1426}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{2033,1426}}</string>
				<key>sourceSize</key>
				<string>{2033,1428}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>general_text.png</string>
			<key>size</key>
			<string>{2033,1428}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>general_text.png</string>
		</dict>
	</dict>
</plist>
