<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ib_vfx_a_normal_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,565},{112,60}}</string>
				<key>offset</key>
				<string>{-64,-9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{649,565},{112,60}}</string>
				<key>sourceSize</key>
				<string>{400,250}</string>
			</dict>
			<key>ib_vfx_a_normal_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,1},{222,144}}</string>
				<key>offset</key>
				<string>{-13,20}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{481,1},{222,144}}</string>
				<key>sourceSize</key>
				<string>{400,250}</string>
			</dict>
			<key>ib_vfx_a_normal_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,1},{230,170}}</string>
				<key>offset</key>
				<string>{-11,25}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{161,1},{230,170}}</string>
				<key>sourceSize</key>
				<string>{400,250}</string>
			</dict>
			<key>ib_vfx_a_normal_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{589,225},{20,40}}</string>
				<key>offset</key>
				<string>{-19,-13}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{589,225},{20,40}}</string>
				<key>sourceSize</key>
				<string>{400,250}</string>
			</dict>
			<key>ib_vfx_a_normal_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,221},{122,120}}</string>
				<key>offset</key>
				<string>{-60,10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{627,221},{122,120}}</string>
				<key>sourceSize</key>
				<string>{400,250}</string>
			</dict>
			<key>ib_vfx_a_normal_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,451},{120,116}}</string>
				<key>offset</key>
				<string>{-62,2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{531,451},{120,116}}</string>
				<key>sourceSize</key>
				<string>{400,250}</string>
			</dict>
			<key>ib_vfx_a_normal_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,245},{238,132}}</string>
				<key>offset</key>
				<string>{-16,25}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,245},{238,132}}</string>
				<key>sourceSize</key>
				<string>{400,250}</string>
			</dict>
			<key>ib_vfx_a_normal_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{242,158}}</string>
				<key>offset</key>
				<string>{-6,-3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1},{242,158}}</string>
				<key>sourceSize</key>
				<string>{400,250}</string>
			</dict>
			<key>ib_vfx_a_normal_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,233},{230,138}}</string>
				<key>offset</key>
				<string>{-11,31}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{303,233},{230,138}}</string>
				<key>sourceSize</key>
				<string>{400,250}</string>
			</dict>
			<key>ib_vfx_a_normal_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,1},{218,142}}</string>
				<key>offset</key>
				<string>{-10,34}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{627,1},{218,142}}</string>
				<key>sourceSize</key>
				<string>{400,250}</string>
			</dict>
			<key>ib_vfx_a_normal_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,455},{114,108}}</string>
				<key>offset</key>
				<string>{-63,-19}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{649,455},{114,108}}</string>
				<key>sourceSize</key>
				<string>{400,250}</string>
			</dict>
			<key>ib_vfx_a_normal_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,465},{148,154}}</string>
				<key>offset</key>
				<string>{-47,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{381,465},{148,154}}</string>
				<key>sourceSize</key>
				<string>{400,250}</string>
			</dict>
			<key>ib_vfx_a_normal_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,245},{232,166}}</string>
				<key>offset</key>
				<string>{-15,36}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{135,245},{232,166}}</string>
				<key>sourceSize</key>
				<string>{400,250}</string>
			</dict>
			<key>ib_vfx_a_normal_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,227},{222,144}}</string>
				<key>offset</key>
				<string>{-12,35}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{443,227},{222,144}}</string>
				<key>sourceSize</key>
				<string>{400,250}</string>
			</dict>
			<key>ib_vfx_a_normal_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,479},{152,150}}</string>
				<key>offset</key>
				<string>{-47,12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{227,479},{152,150}}</string>
				<key>sourceSize</key>
				<string>{400,250}</string>
			</dict>
			<key>ib_vfx_a_normal_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,1},{224,146}}</string>
				<key>offset</key>
				<string>{-11,33}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{333,1},{224,146}}</string>
				<key>sourceSize</key>
				<string>{400,250}</string>
			</dict>
			<key>ib_vfx_a_normal_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,485},{224,144}}</string>
				<key>offset</key>
				<string>{-12,27}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,485},{224,144}}</string>
				<key>sourceSize</key>
				<string>{400,250}</string>
			</dict>
			<key>ib_vfx_a_normal_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,343},{118,110}}</string>
				<key>offset</key>
				<string>{-63,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{649,343},{118,110}}</string>
				<key>sourceSize</key>
				<string>{400,250}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>luoyetexiao.png</string>
			<key>size</key>
			<string>{770,630}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>luoyetexiao.png</string>
		</dict>
	</dict>
</plist>
