<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>wh_vfx_e_07_normal_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,247},{106,118}}</string>
				<key>offset</key>
				<string>{-3,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{165,247},{106,118}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>wh_vfx_e_07_normal_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,157},{96,104}}</string>
				<key>offset</key>
				<string>{-1,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{387,157},{96,104}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>wh_vfx_e_08_normal_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{50,142}}</string>
				<key>offset</key>
				<string>{-8,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,142}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>wh_vfx_e_08_normal_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,1},{68,110}}</string>
				<key>offset</key>
				<string>{6,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{317,1},{68,110}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>wh_vfx_e_08_normal_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,1},{48,138}}</string>
				<key>offset</key>
				<string>{-7,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{53,1},{48,138}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>wh_vfx_e_07_normal_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,1},{102,104}}</string>
				<key>offset</key>
				<string>{-1,-20}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{387,1},{102,104}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>wh_vfx_e_07_normal_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,301},{36,32}}</string>
				<key>offset</key>
				<string>{28,11}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{349,301},{36,32}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>wh_vfx_e_07_normal_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,1},{104,120}}</string>
				<key>offset</key>
				<string>{-1,-12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{211,1},{104,120}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>wh_vfx_e_07_normal_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,289},{82,86}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,289},{82,86}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>wh_vfx_e_07_normal_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,125},{106,120}}</string>
				<key>offset</key>
				<string>{-2,-9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{125,125},{106,120}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>wh_vfx_e_07_normal_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,239},{58,52}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{273,239},{58,52}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>wh_vfx_e_08_normal_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,107},{48,102}}</string>
				<key>offset</key>
				<string>{-9,-31}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{387,107},{48,102}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>wh_vfx_e_08_normal_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,263},{50,104}}</string>
				<key>offset</key>
				<string>{-8,-28}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{385,263},{50,104}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>wh_vfx_e_08_normal_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,141},{70,128}}</string>
				<key>offset</key>
				<string>{5,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{53,141},{70,128}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>wh_vfx_e_08_normal_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,315},{52,74}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{273,315},{52,74}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>wh_vfx_e_07_normal_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,123},{104,114}}</string>
				<key>offset</key>
				<string>{-2,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{233,123},{104,114}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>wh_vfx_e_08_normal_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,113},{46,98}}</string>
				<key>offset</key>
				<string>{-9,-32}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{339,113},{46,98}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>wh_vfx_e_08_normal_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,145},{50,142}}</string>
				<key>offset</key>
				<string>{-8,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,145},{50,142}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>wh_vfx_e_08_normal_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,271},{3,3}}</string>
				<key>offset</key>
				<string>{-103,104}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{53,271},{3,3}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>wh_vfx_e_08_normal_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,315},{50,104}}</string>
				<key>offset</key>
				<string>{-8,-30}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{383,315},{50,104}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>wh_vfx_e_07_normal_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,1},{106,122}}</string>
				<key>offset</key>
				<string>{-1,-10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{103,1},{106,122}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>wh_vfx_e_07_normal_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,271},{74,100}}</string>
				<key>offset</key>
				<string>{11,-21}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{89,271},{74,100}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>wh_vfx_e_08_normal_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,213},{44,86}}</string>
				<key>offset</key>
				<string>{-11,-38}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{339,213},{44,86}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>wh_vfx_e_07_normal_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,247},{34,22}}</string>
				<key>offset</key>
				<string>{28,13}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{125,247},{34,22}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>tuanzhongjiangxiaoc09.png</string>
			<key>size</key>
			<string>{490,372}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>tuanzhongjiangxiaoc09.png</string>
		</dict>
	</dict>
</plist>
